body{
    padding: 0px;
    margin: 0px;
    /* font-family: 'Chivo Mono', monospace; */
    /* font-family: 'Lobster', cursive; */
    font-family: 'Vidaloka', serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    /* background-color: blueviolet; */
    /* background-image: linear-gradient(to top left, #A100FFFF, #119CFDFF); */
    background-image: linear-gradient(to top left, rgb(117, 79, 58), rgb(235, 36, 36));
    color: white;
}
.Heading{
    font-size: 1.2rem;
    font-weight: bold;
}
.Navigation ul{
    list-style: none;
    display: flex;
}
.Navigation li {
    /* border: 2px solid green; */
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.Navigation li a{
    color: white;
    text-decoration: none;
}
.Navigation li a:hover{
    /* color: rgb(203, 177, 177); */
    color: rgb(191, 191, 238);
}
header svg{
    display: none;
    width: 35px;
    font-weight: bold;
}
@media screen and (max-width : 900px){
    .Navigation li {
        display: none;
        background-color: aquamarine;
    }
    header svg{
        display: block;
    }
    
}

.list{
    text-align: center;
    font-size: 1.5rem;
    list-style: none;
    width: 100%;
    display: none;
}
.list a{
    text-decoration: none;
    color: rgb(152, 86, 210);
}
.list a:hover{
    color: red;
}
.ImageWrapper{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.CompanyIntro{
    background-color: whitesmoke;
    margin-top: 0px;
    text-align: center;
    padding: 1rem;
}
.CompanyIntro h1{
    text-align: center;
    margin-top: 0px;
    font-size: 2.5rem;
}
.CompanyIntro p{
    font-size: 1.2rem;
}
.Projects h1{
    font-size: 2.5rem;
    text-align: center;
}
.Box{
    padding: 1rem;
    width: 300px;
    margin: 1rem;
    border-radius: 0.7rem;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);  
}
.Box img{
    border-radius: 0.7rem;
    margin-bottom: 1rem;
    width: 100%;
    object-fit: cover;
}

.Box:hover{
    border-radius: 1rem;
    cursor: pointer;
}
.Projects_Wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
}
.Box button{
    padding: 0.5rem 1rem;
    background-image: linear-gradient(to top left, rgb(117, 79, 58), rgb(235, 36, 36));
    border: 0px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.VideoProjects{
    text-align: center;
}

.Pricing{
    text-align: center;
}

.TeamInfo{
    text-align: center;
}

.ProfileWrapper{
    /* padding: 0.5rem; */
    width: 250px;
    height: 350px;
    margin: 0.5rem;
    border-radius: 0.7rem;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);  
}
.ProfileWrapper img{
    width: 100%;
    object-fit: cover;
    height: 70%;
    object-position:center;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    /* height: 100%; */
}
.Blogs{
    text-align: center;
}
.GoogleMap div{
    height: 350px;
}
.GoogleMap iframe{
    height: 100%;
    width: 100%;
}
.GoogleFormAndMap{
    text-align: center;
}
.GoogleFormAndMap> div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.GoogleForm{
    width: 30%;
    /* padding: 0.5rem; */
}
.GoogleForm> div{
    align-items: flex-start;
    justify-items: flex-start;
    border: 2px solid rgb(28, 28, 29);
    border-radius: 0.5rem;
    
}
@media screen and (max-width : 400px) {
    .GoogleFormAndMap> div{
        display: inline-block;
    }
    .GoogleForm{
        width: 100%;
        margin-bottom: 1rem;
    }
    .GoogleMap{
        width: 100%;
    }
    .Footer{
        /* display:inline-block; */
        flex-wrap: wrap;
        text-align: center;
    }
    .Footer svg{
        margin: 0.3rem;
    }
    header h1{
        font-size: 2rem;
    }
    .CompanyIntro h1{
        font-size: 2rem;
    }
}
.GoogleForm> div div{
    /* display: flex; */
    margin: 1rem;
}
form div{
    display: flex;
    justify-content: space-between;
}
.form-control{
    width: 60%;
    border: 2px solid rgb(76, 75, 74);
}
.Footer{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to top left, rgb(117, 79, 58), rgb(235, 36, 36));
    color: white;
    padding: 0.5rem;
    margin-top: 1rem;
}
.Footer h5{
    margin: 0.5rem;
}
.Footer h2{
    margin: 0.5rem;
}
.Footer a{
    color: white;
    margin: 0.3rem;
}